<div [@routerTransition]>
  <div>
    <h2 class="text-muted">
      <small>Listagem</small>
      <div class="float-right">
        <button class="btn btn-md btn-primary" [routerLink]="['/forms']" type="submit">Novo</button>
      </div>
    </h2>
    <hr>
  </div>

  <p>
    <ngb-alert type="success" *ngIf="showAlert" [dismissible]="true">
      <strong>Sucesso!</strong> Item deletado com sucesso!
    </ngb-alert>
  </p>

  <div class="col-md-3 form-group float-right">
    <div>
      <input type="text" class="form-control" placeholder="Buscar por nome do item" [(ngModel)]="searchText">
    </div>
  </div>


  <div class="margin-table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Perecível</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | filter : searchText">
            <td>{{ item.itemName  }}</td>
            <td>{{ item.quantity  }}</td>
            <td>{{ item.price | currency:'BRL':true}}</td>
            <td>{{ item.perishable ? 'Sim' : 'Não' }}</td>
            <td>
              <span>
                <i class="fa fa-pencil cursor-pointer fa-lg btnalign" [routerLink]="['../forms/', item.id]"
                  aria-hidden="true"></i>
                <i class="fa fa-trash cursor-pointe fa-lg btnalign" (click)="open(content, item.id)"
                  aria-hidden="true"></i>
              </span>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deletar item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Você tem certeza que deseja deletar o item?</strong></p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deleteItem(); modal.close()">Sim</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Não</button>
  </div>
</ng-template>