<nav class="navbar navbar-expand-lg fixed-top headercolor">
    <a class="navbar-brand" href="#">Senior</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>

</nav>
