<div [@routerTransition]>
    <div>
        <h2 class="text-muted">
            <small>Formulário</small>
            <div class="pull-right" [@routerTransition]>
                <button class="btn btn-md btn-secondary alignbtn" type="button"
                    [routerLink]="isEdit ? ['../../table'] : ['../table']">Cancelar</button>
                <button class="btn btn-md btn-primary" (click)="onSubmit()" type="submit">Salvar</button>
            </div>
        </h2>
        <hr>
    </div>

    <p>
        <ngb-alert type="success" *ngIf="showAlert" [dismissible]="true">
            <strong>Sucesso!</strong> Item salvo com sucesso!
        </ngb-alert>
    </p>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-row container-align">

            <div class="col-md-12 form-group">
                <label><strong>Nome do item</strong></label>
                <input type="text" class="form-control" maxlength="50" formControlName="itemName"
                    (keypress)="alphabeticOnly($event)" [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }" />

                <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                    <div *ngIf="f.itemName.errors.required">Nome do item é um campo obrigatório</div>
                </div>

            </div>

            <div class="col-md-4 form-group alignfields">

                <label><strong>Selecione o tipo do cadastro</strong></label>
                <select class="form-control" (change)="onChange($event.target.value)">
                    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}
                    </option>
                </select>

            </div>

            <div class="col-md-4 form-group alignfields">
                <label><strong>Quantidade</strong></label>
                <input type="text" class="form-control" formControlName="quantity" [textMask]="{mask: getMask()}"
                    [attr.maxlength]="selectedUnit.maxLength"
                    [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">Quantidade é um item obrigatório</div>
                </div>

            </div>

            <div class="col-md-4 form-group alignfields">
                <label><strong>Preço</strong></label>
                <input type="text" class="form-control" formControlName="price" currencyMask maxlength="20"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />

            </div>

            <div class="col-md-4 form-group alignfields">
                <div class="checkbox aligncheck">
                    <label>
                        <input type="checkbox" formControlName="perishable" (click)="setCustomValidation()">
                        <label class="alignlabel"><strong>Perecível</strong></label>
                    </label>
                </div>
            </div>

            <div class="form-group col-md-4 alignfields">
                <label><strong>Data de validade</strong></label>
                <div class="input-group">
                    <input class="form-control" [ngClass]="{ 'is-invalid': f.expireDate.errors && customValidation  }"
                        placeholder="dd/mm/aaaa" readonly name="dp" formControlName="expireDate" (click)="d.toggle()"
                        (ngModelChange)="expireDateChecker($event)" ngbDatepicker #d="ngbDatepicker">

                    <div *ngIf="submitted && f.expireDate.errors" class="invalid-feedback">
                        <div *ngIf="f.expireDate.errors.required">Data de validade é obrigatório</div>
                    </div>

                    <div *ngIf="isExpired" class="invalid-feedback">
                        <div>Produto vencido</div>
                    </div>

                </div>
            </div>

            <div class="form-group col-md-4 alignfields">
                <label><strong>Data de fabricação</strong></label>
                <div class="input-group">
                    <input class="form-control" readonly placeholder="dd/mm/aaaa" name="dz" formControlName="expireDate"
                        [ngClass]="{ 'is-invalid': submitted && f.dateOfManufacture.errors || manufactureErr  }"
                        (click)="c.toggle()" (ngModelChange)="dateOfManufactureChecker($event)"
                        formControlName="dateOfManufacture" ngbDatepicker #c="ngbDatepicker">

                    <div *ngIf="f.dateOfManufacture.errors && manufactureErr" class="invalid-feedback">
                        <div *ngIf="f.dateOfManufacture.errors.required">Data de fabricação é obrigatório</div>
                        <div *ngIf="manufactureErr">Data de fabricação superior a de validade.</div>
                    </div>


                </div>
            </div>
        </div>
        <div class="dummy"></div>
    </form>
</div>