.container-align {
  padding: 5%;
}

input[readonly]
{
    background-color:  #ffff;
}

.aligncheck {
  margin-top: 35px;
  margin-left: 1%;
}

.alignfields {
  margin-top: 4%
}

.dummy {
  min-height: 200px;
}

.alignbtn {
  margin-right: 15px;
}

input[type=checkbox] {width:20px; height:20px;}

.alignlabel {
  margin-left: 15px;
}